<app-navbar></app-navbar>
<div class="container-fluid">
  <div class="row">
    <div class="col-12 col-lg-3">
      <div class="col-12 app-user-info">
        <app-user-info></app-user-info>
      </div>
    </div>
    <div class="col-12 col-lg-9 d-flex justify-content-end p-0">
      <app-settings-menu></app-settings-menu>
    </div>
  </div>
  <div class="bar-menu">
    <app-bar-menu></app-bar-menu>
  </div>
</div>

<app-main-layout [layoutTitle]="'Customer Account'">
  <button
    class="ml-5"
    etiyaButton="new-address"
    [routerLink]="'/dashboard/customers/customer-bill/' + selectedCustomerId"
    routerLinkActive="active"
  >
    <img src="../../../../assets/img/add_new.png" alt="" />Create New Account
  </button>

  <div class="p-2"></div>
  <div class="e-customer-content">
    <div class="m-3">
      <form [formGroup]="searchForm">
        <div class="row">
          <label class="e-acc-label" for="accountNumber">Account Number</label>
        </div>
        <div class="row">
          <div class="d-flex justify-content-lg-start align-items-center">
            <input
              type="number"
              etiyaInput="dark"
              id="accountNumber"
              formControlName="accountNumber"
              onKeyPress="if(this.value.length==10) return false;"
              (keypress)="isValid($event)"
            />

            <button
              etiyaButton="clear"
              [disabled]="!searchForm.invalid"
              (click)="searchAccount()"
            >
              Search
            </button>
          </div>
        </div>
      </form>

      <app-table-accordion-header></app-table-accordion-header>
      <ng-template *ngIf="filteredData" ngFor let-bill [ngForOf]="filteredData">
        <app-table-accordion
          [billingAccount]="bill"
          [customerId]="selectedCustomerId"
        ></app-table-accordion>
      </ng-template>

      <ng-template
        *ngIf="!filteredData"
        ngFor
        let-bill
        [ngForOf]="billingAccountList"
      >
        <app-table-accordion
          [billingAccount]="bill"
          [customerId]="selectedCustomerId"
        ></app-table-accordion>
      </ng-template>
    </div>
  </div>
</app-main-layout>
<p-dialog
  [(visible)]="displayBasic"
  [style]="{ width: '30vw', height: '20vw' }"
>
  <h5 class="header">Warning</h5>
  <p>No account found for this number</p>
  <p></p>
  <ng-template pTemplate="footer">
    <p-button
      (click)="displayBasic = false"
      styleClass="p-button-text"
    ></p-button>
  </ng-template>
</p-dialog>
