.bar-menu {
  margin-top: -35px;
  margin-left: 350px;
}

.app-user-info {
  width: 264px;
  margin-left: 35px;
  margin-top: -20px;
}

::ng-deep .e-btn-new-address {
  border: 1px solid #f58220 !important;
  margin-top: 10px;
}
.e-acc-label{
  font-family: 'Anybody';
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 21px;
  color: #ffffff;
  margin-bottom: 5px;
}
::ng-deep .e-btn-clear {
  margin-bottom: 20px;
  margin-left: 10px;
}
::ng-deep .p-dialog{
  background-color: #2a5183 !important;

}

:host ::ng-deep .p-dialog .p-dialog-content{
  color: #2a5183;
  font-weight: 700;
  font-family: 'Anybody';

}
.header{
  color:#f58220;
  font-weight: 900;
}
.selected{
  opacity: 0.7;
}
